<!-- your html code here -->
<div class="container border-top border-gray mt-5 pt-5">


    <h1>Contact </h1>
    <p class="fs-5 pe-5">Donec ullamcoper nulla non metus autorc fringilla. vestibulum id liguila porta
        felis euismod semper. Praesent
        commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac curssus commodo.</p>


        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 bg-secondary pt-3">

                    <form >
                        <div class="mb-3 row">
                            <label for="exampleFormControlInput1" class="col-sm-3 col-form-label text-end"> <b>Your E-mail</b> </label>
                            <div class="col-sm-9 ">
                                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Your email">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="exampleFormControlTextarea1" class="col-sm-3 col-form-label text-end"> <b>Your message</b> </label>
                            <div class="col-sm-9">
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="Please enter your message here..."></textarea>
                            </div>
                        </div>
                        <div class="mb-3 d-flex justify-content-end">
                            <input class="btn btn-primary" type="submit" value="Submit">
                        </div>

                    </form>
                

                </div>
            </div>
        </div>

    <!-- <div class="container border border-gray rounded mt-5 pt-2 form-contact">
        
</div>