<!-- your html code here -->

<div class="container border-top border-gray d-flex mt-5 pt-5">

    <div class="container ">
        <div class="container d-flex">
            <h1>This First Heading </h1>
            <h1 class="text-secondary px-2"> Will Catch Your Eye</h1>

        </div>
        <div class="container">
            <p class="fs-5">Donec ullamcoper nulla non metus autorc fringilla. vestibulum id liguila porta
                felis euismod semper. Praesent
                commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac curssus commodo.</p>

        </div>


    </div>

    <div class="container  container-heinseberg ">
        <img src="https://i.pinimg.com/originals/74/72/b0/7472b055708c4e9c4e7f8520992f5bfa.jpg"
            class="img-firstHeading rounded-circle" alt="...">
    </div>

</div>