<!-- your html code here -->
<div class="container border-top border-gray mt-5 pt-5">

    
    <h1 >Porfolio </h1>
    <p class="fs-5 pe-5">Donec ullamcoper nulla non metus autorc fringilla. vestibulum id liguila porta
        felis euismod semper. Praesent
        commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac curssus commodo.</p>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
              <div class="card">
                <img src="https://i.etsystatic.com/25590692/r/il/969b08/3903240515/il_fullxfull.3903240515_a50q.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title text-primary">Project Name</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat et, minima eos assumenda omnis, est excepturi dolor explicabo neque nobis totam nulla maxime recusandae atque ipsa voluptas quo! Quos, nulla!</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="https://i.etsystatic.com/25590692/r/il/42f4f0/3903229431/il_fullxfull.3903229431_ebxj.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title text-primary">Project Name</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat et, minima eos assumenda omnis, est excepturi dolor explicabo neque nobis totam nulla maxime recusandae atque ipsa voluptas quo! Quos, nulla!</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="https://i.etsystatic.com/25590692/r/il/223710/3855690188/il_fullxfull.3855690188_9sry.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title text-primary">Project Name</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat et, minima eos assumenda omnis, est excepturi dolor explicabo neque nobis totam nulla maxime recusandae atque ipsa voluptas quo! Quos, nulla!</p>
                </div>
              </div>
            </div>
</div>